.social-container {
  position: fixed;
  right: -210px;
  top: 235px;
  z-index: 99;
  background: red;

  ul {
    transform: rotate(-90deg);
    list-style: none;
    display: flex;
    li {
      a {
        color: white;
        font-family: "Inconsolata", monospace;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 28px;
        margin-right: 36px;
        text-decoration: none;
      }
    }
  }
  .jb-miranda {
    position: fixed;
    z-index: 99;
    @media (max-width: 991px) {
      left: inherit;
      right: -75px;
      top: calc(100vh - 135px);
    }
    a {
      transform: rotate(-90deg);
      color: white;
      font-family: "Inconsolata", monospace;
      font-size: 18px;
      line-height: 28px;
      background: #1f1f1f;
      text-decoration: none;
      position: relative;
      text-decoration: line-through;
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
      i {
        margin-left: 8px;
        font-size: 15px;
      }
    }
  }
}
