.social-container {
  position: fixed;
  right: -210px;
  top: 235px;
  z-index: 99;

  ul {
    transform: rotate(-90deg);
  }

  .jb-miranda {
    position: fixed;
    right: -114px;
    z-index: 99;
    bottom: 112px;

    a {
      transform: rotate(-90deg);
      background: #1f1f1f;
      position: relative;
      text-decoration: line-through;
      display: inline-block;
      &:hover {
        text-decoration: none;
      }
      i {
        margin-left: 8px;
        font-size: 15px;
      }
    }
  }
}
