/*-------------------------------------------------*/
/*                TITLE 
/*-------------------------------------------------*/
.small-height {
  margin-top: 50px;
}
.about-wrapper {
  margin-top: 100px;
}
.about {
  line-height: 38px;
}
